@charset "ISO-8859-1";

body{
    font-family: Arial,Hekvitika, sans-serif;
    font-size: 16px;
    font-size-adjust: 10px; 
    line-height: 1.5;
    padding: 0px;
    margin:0;
    background-color: white;
    background-image: url('../images/imhg4.jpg');
    background-size: cover;
    height:700px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:90%;
    margin: auto;
    overflow: hidden;
}

.left-side {
    width: 60%;
    background-size: cover;
    float: right;
    height: 500px;
}

.right-side {
    width: 35%;
    float: left;
    padding: 3%;
	height: 600px;
	background-color:#C0C0C0;
	opacity:0.8;
	margin-top:30px;
	margin-bottom:20px;
	margin-left:0px;
}

.right-side h1 {
	font-size: 50px;
	margin-top: 0px;
}

.right-side label {
	width: 100%;
    font-weight: bold;
}

.right-side input {
	height: 30px;
    padding: 20px;
	width: 100%;
	margin-top: 5px;
    border: 2px solid #eee;
    background:#f8f8ff;
}


.right-side .loging-button button {
	width: 50%;
    font-size: 18px;
    height: 50px;
    border: none;
    background: #33419d;
    color: #fff;
    font-weight: bold;
	cursor: pointer;
	margin-top: 20px;
}


.right-side .New-Appointment button {
	width: 50%;
    font-size: 18px;
    height: 50px;
    border: none;
    background: #33419d;
    color: #fff;
    font-weight: bold;
	cursor: pointer;
	margin-top: 20px;
}



.right-side p {
	padding-top: 10px; 
	padding-bottom: 20px;
	color: #999
} 